header {
  height: 200px;
}

header .disclaimer {
  text-align: center;
  color: hsla(120, 12%, 59%, 1);

}

section.wolf {
  text-align: center;
  position: fixed;
}

section.wolf>svg {
  height: 394px;
}

footer {
  height: 90px;
  text-align: center;
}
