header {
  height: 200px;
}

section>.wolf {
  background-image: url(/assets/wolf.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 394px;
}

footer {
  color: hsla(120, 12%, 59%, 1);
  height: 90px;
  text-align: center;
}
